.filters {
  width: $default-width;
  margin: 0 auto;
  padding: 1rem 0;

  &__form {
    display: flex;
    flex-flow: column;
  }

  &__input,
  &__select {
    margin-bottom: 1rem;
    font-family: $main-font;
    text-transform: uppercase;
  }
  // &__button{}
}
