.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: $trans-black;

  @include mq(tab) {
    padding: 2rem 0;
  }

  &__logo {
    @include logoFont;

    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: $secondary-color;

    @include mq(tab) {
      font-size: 2.4rem;
    }
  }

  &__copyright {
    font-size: 1.1rem;

    a {
      color: $white;
    }

    @include mq(tab) {
      font-size: 1.4rem;
    }
  }
}
