.header {
  width: 100%;
  height: $mb-header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $trans-black;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    font-family: $logo-font;
    color: $primary-color;
    text-transform: lowercase;
  }
}
